<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <a href="localhost:3000/regionlist">Region Data</a>
    <a href="localhost:3000/opsyslist">Operating system Data</a>
    <a href="localhost:3000/uniquevisitors">Overall Unique visitors</a>
  </body>
</html>