<!DOCTYPE html>
<html>
  <head>
    <title>Region Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Regions list</h1>
    <ul>
        <%
            var list = '';
            for (i = 0; i < regionlist.length; i++) {
                if (regionlist[i].Name) {
                    list += '<li>' + regionlist[i].Name + ": visitors: " + regionlist[i].VisCount + " percent: " + regionlist[i].VisPercent + '</li>'; 
                }
                else {
                    list += '<li>' + regionlist[i].name + ": visitors: " + regionlist[i].VisCount + " percent: " + regionlist[i].VisPercent + '</li>';
                }
            }
        %>
        <%- list %>
    </ul>
  </body>
</html>