<!DOCTYPE html>
<html>
  <head>
    <title>Unique visitors Data</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Unique Visitors:</h1>
    <p><%- uniquevisitors[0].UniqueVisitors %></p>
  </body>
</html>